body {
    background: url(../image/body_bg.jpg) repeat center top;
}

.side {
    background: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;
}

.avatar {
    margin-bottom: 20px;
    max-height: 140px;
    max-width: 90%;
}

.curtain {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 19px;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.article_title {
    margin-bottom: 10px;
}

.article_title a {
    color: #000;
    cursor: auto;
    text-decoration: none;
}

.article_title a:hover {
    color: #666;
}

.article_title h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
}

.article_content {
    margin: 10px 0;
    font-size: 15px;
    color: #555;
    line-height: 35px;
}

.article_manage {
    padding: 5px 0;
    color: #999;
    font: normal 12px/24px Arial;
    text-align: right;
}

.article_manage span {
    margin: 0 5px;
}

.markdown_views {
    font-family: 'microsoft yahei';
    font-size: 14px;
}

.markdown_views h1,
.markdown_views h2,
.markdown_views h3,
.markdown_views h4,
.markdown_views h5,
.markdown_views h6 {
    font-size: 17px;
    font-weight: 500;
    margin: 0.8em 0;
}
.markdown_views p,
.markdown_views pre,
.markdown_views pre.prettyprint,
.markdown_views blockquote {
    margin: 0 0 1.1em;
}

.markdown_views p {
    font-family: 'microsoft yahei';
    font-size: 14px;
    font-weight: normal;
}

.ico_reply {
    background: url(../image/reply.jpg) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 2px;
}