<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.toephy.blog.dao.ICommentDao">

    <resultMap id="comment_user_Map" type="org.toephy.blog.bean.dto.CommentDto">
        <id property="id" column="id" />
        <result property="blogId" column="blog_id" />
        <result property="commentContent" column="comment_content" />
        <result property="createTime" column="create_time" />
        <association property="user" column="uid" select="org.toephy.blog.dao.IUserDao.getUserById"/>
    </resultMap>

    <select id="getCommentList" resultMap="comment_user_Map" resultType="list">
        SELECT * FROM comment WHERE blog_id = #{blogId} order BY id DESC;
    </select>

    <insert id="insertComment" parameterType="org.toephy.blog.bean.entity.Comment">
        INSERT INTO comment
        (
        blog_id,
        uid,
        comment_content,
        create_time
        )
        VALUES
        (
        #{blogId, jdbcType=INTEGER},
        #{uid, jdbcType=INTEGER},
        #{commentContent, jdbcType=VARCHAR},
        #{createTime}
        );
    </insert>

</mapper>