<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.toephy.blog.dao.ICommentDao">

    <resultMap id="commentMap" type="org.toephy.blog.bean.entity.Comment">
        <id property="id" column="id" />
        <result property="blogId" column="blog_id" />
        <result property="userName" column="user_name" />
        <result property="userAvatar" column="user_avatar" />
        <result property="commentContent" column="comment_content" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="getCommentList" resultMap="commentMap" resultType="list">
        SELECT * FROM comment WHERE blog_id = #{blogId} order BY id DESC;
    </select>

    <insert id="insertComment" parameterType="org.toephy.blog.bean.entity.Comment">
        INSERT INTO comment
        (
        blog_id,
        user_name,
        user_avatar,
        comment_content,
        create_time
        )
        VALUES
        (
        #{blogId, jdbcType=INTEGER},
        #{userName, jdbcType=INTEGER},
        #{userAvatar, jdbcType=INTEGER},
        #{commentContent, jdbcType=VARCHAR},
        #{createTime}
        );
    </insert>

</mapper>